<div class="index">
    <img src="/images/beer.png" alt="beer image" class="home-img">
    <div id="a-links">
    <a class="btn" href="/beers">Check the Beers!</a>
    <a class="btn" href="/random-beer">Check a Random Beer!</a>
    </div>
</div>