<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <title>Lab Express</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    
  </head>
  <body>
      <nav>
          <a class="nav-items" href="/index"> Home </a></li>
          <a class="nav-items" href="/beers"> Beers </a></li>
          <a class="nav-items" href="/random-beer"> Random Beer </a></li>
      </nav>

      {{{body}}}

      <footer>
          <p>Develop by Ironhack ;)</p>
      </footer>
  </body>
</html>